.card {
	width: 320px;

	@include min(lg) {
		width: calc(33.3% - 1rem);
	}

	&-header {
		.btn {
			float: right;
		}
	}

	&-text,
	&-text__hidden {
		margin-bottom: 10px;

		p {
			margin-bottom: 5px;
		}
	}
}

.js-toggle {
	&.is-open {
		i {
			transform: rotate(180deg);
		}
	}
}
