// colors
$w: #ffffff;
$b: #000000;


// Fonts -------------------------------------------
$font-text: "Lato", sans-serif;
$font-heading: "Montserratg", sans-serif;

// Transitions -------------------------------------------
$time: 0.3s;

// Grid breakpoints -------------------------------------------
// for min-width = values, for max-width = value - 1px.
// example: @include min(lg) = @media (min-width: 993px)
// example: @include max(lg) = @media (max-width: 992px)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
