html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: $white;
  color: $black;
  font-family: $font-text;
  line-height: 1.5;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

